.container-difference {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 100px;
    min-height: 130px;
    background-color: var(--accent-purple);
}

.list-difference {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 0;
}

.item-difference {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #1726428c;
}

.text-difference {
    font-size: 18px;
}