header {
    font-size: 18px;
    font-weight: 700;
    background-color: var(--accent-purple);
}

.container-header {
    max-width: 1750px;
    display: flex;
    align-items: center;
    max-height: 70px;
    padding: 13px 60px 13px 60px;
}

.logo-header {
    display: flex;
    margin-right: auto;
}

.text-logo {
    font-family: century gothic;
    font-style: italic;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    margin: auto auto 10px auto
}

.logo-header-img {
    fill: white;
    max-width: 80px;
}

.container-nav {
    margin-left: 20px;
}

.list-header {
    display:flex
}

.list-item-header {
    margin: auto;
    margin-right: 40px;
}

.list-item-header:last-child {
    margin-right: 0;
}

.link-item-header {
    text-decoration: none;
    color: inherit;
}

.btn-item-header {
    position: relative;
    padding: 10px;
    padding-right: 25px;
    border-radius: 100px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center right 3px;
    background-size: 20px 20px;
}