html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --active-orange: #E1670E;
    --orange: #FF9900;
}

body {
    background-color: #424242;
    font-family: "Arial";
    margin: 0;
    color: rgb(210, 208, 203);
    height: 100vh;
    display: flex;
}

.container {
    margin: auto;
    height: initial;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.list-reset {
    list-style-type: none;
    padding: 0;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}